# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.zip

# Node
node_modules/
dist/

# Environment
.env
*.pem

# Terraform
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/*.tfvars
infrastructure/.terraform.lock.hcl

#JAR

*.jar